@model Oblig1theAteam.ViewModels.Order.ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<h2>ShoppingCart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Remove from cart", "RemoveFromCart", new {  movieId=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
<div class="panel-footer clearfix">
    <div class="pull-left">
        <h3>Total Sum: @Model.TotalSum</h3>
        @Html.ActionLink("Complete Purchase","CompletePurchase",new { tom = ""}, new { @class = "btn btn-primary" })
    </div>
</div>