@model Oblig1theAteam.ViewModels.Home.IndexViewModel

@{
    // Viewet skal kun vise frem ViewModellen. Den skal ikke inneholde logikk.
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script src="~/js/home.js" type="text/javascript"></script>
}

    <div class="form-inline home-forms">
        @using (Html.BeginForm("MoviesByTitle", "Home", FormMethod.Post, new { @class = "form-group home-input" }))
        {
            <label for="title">Search title:</label>
            <input class="form-control typeahead" id="title" name="title" type="text" method="post" autocomplete="off" spellcheck="false" data-provide="typeahead"/>
            <button class="btn btn-default">Search</button>
        }

        @using (Html.BeginForm("MoviesByGenre", "Home", FormMethod.Post, new { @class = "form-group home-dropdown" }))
        {
            <label for="title">Browse by Genre:</label>

            var genres = Model.Genre
                .Select(g => new SelectListItem { Text = g.GenreName, Value = g.GenreName })
                .ToList();

            genres.Insert(0, new SelectListItem("", "", true));

            @Html.DropDownList("genre", genres, new { @class = "form-control" })
            <button class="btn btn-default">ok</button>
        }
    </div>

<div class="navigation-buttons">
    @{var style = (Model.Skip != 0) ? "btn btn-default" : "btn btn-default disabled"; }

    <a href="@Url.Action("ChangePage", new { skip = Model.Skip - 20 })" class="@style">
        <span class="glyphicon glyphicon-arrow-left"></span> Previous
    </a>

    @{ style = (Model.HasNext) ? "btn btn-default" : "btn btn-default disabled";}

    <a href="@Url.Action("ChangePage", new { skip = Model.Skip + 20 })" class="@style">
        Next  <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
</div>

<div class="movies-container">
    @if (!Model.Movies.Any())
    {
        <h2>No movies found</h2>
    }
    @foreach (var movie in Model.Movies)
    {
        <a href="#movieModal" class="movie-link" id="movieModalButton" data-movieModal="true" data-toggle="modal"
           data-movie-id="@movie.Id"
           data-movie-title="@movie.Title"
           data-movie-description="@movie.Description"
           data-movie-year="@movie.Year"
           data-movie-rating="@movie.AgeRestriction"
           data-movie-runtime="@movie.Time"
           data-movie-price="@movie.Price"
           data-movie-poster="@movie.PosterName"
           data-movie-trailer="@movie.TrailerLink"
           data-movie-in-cart="@movie.inCart"
           data-movie-owned="@movie.Owned">

            <div class="movie">
                <img class="movie-poster" src="~/images/posters/thumbnail/@movie.PosterName" alt="movie poster for @movie.PosterName" />
                <div class="movie-info">
                    <h1 class="movie-title">@movie.Title</h1>

                    <div class="movie-purchase">
                        <p>Price: @movie.Price,-</p>
                        @if (!movie.Owned && !movie.inCart)
                        {
                            <a id="@movie.Id-buy-button" class="btn btn-primary btn-buy-movie" onclick="addToShoppingCart(@movie.Id, this)">
                                Add to cart
                            </a>
                        }
                        else if (movie.inCart)
                        {
                            <a id="@movie.Id-buy-button" class="btn btn-default btn-buy-movie disabled">
                                In Cart
                            </a>
                        }
                        else
                        {
                            <a id="@movie.Id-buy-button" class="btn btn-default btn-buy-movie disabled">
                                Owned
                            </a>
                        }
                    </div>
                </div>
            </div>
        </a>
    }
</div>

<div class="navigation-buttons">
    @{style = (Model.Skip != 0) ? "btn btn-default" : "btn btn-default disabled"; }

    <a href="@Url.Action("ChangePage", new { skip = Model.Skip - 20 })" class="@style">
        <span class="glyphicon glyphicon-arrow-left"></span> Previous
    </a>

    @{ style = (Model.HasNext) ? "btn btn-default" : "btn btn-default disabled";}

    <a href="@Url.Action("ChangePage", new { skip = Model.Skip + 20 })" class="@style">
        Next  <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
</div>

@Html.Partial("movieModal")