@model Oblig1theAteam.ViewModels.Home.IndexViewModel

@{
    // Viewet skal kun vise frem ViewModellen. Den skal ikke inneholde logikk.
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script type="text/javascript">
        function addToShoppingCart(movie_id) {
            $.ajax({
                url: '@Url.Action("AddToShoppingCart")',
                data: { id: movie_id },
                success: function (res) {
                    console.log(res);
                    if (res) {
                        let cartCount = $('#cartCount').html();
                        cartCount++;
                        $('#cartCount').html(cartCount);
                    }
                }
            });
        }

        $(document).ready(function () {
            $('a[data-movieModal=true]').click(function () {
                const movie_title = $(this).data('movie-title');
                $('#modal-movie-title').html(movie_title);

                const movie_poster = $(this).data('movie-poster');
                $('#modal-movie-poster-container').html('<img id="modal-movie-poster" src="../images/posters/main/' + movie_poster + '" />');

                const movie_description = '<span class="modal-movie-heading">Synopsis</span><br/>' + $(this).data('movie-description');
                $('#modal-movie-description').html(movie_description);

                const movie_year = '<span class="modal-movie-heading">Year: </span>' + $(this).data('movie-year');
                $('#modal-movie-year').html(movie_year);

                const movie_rating = '<span class="modal-movie-heading">Rating: </span>' + $(this).data('movie-rating');
                $('#modal-movie-rating').html(movie_rating + " years");

                const movie_runtime = '<span class="modal-movie-heading">Runtime: </span>' + $(this).data('movie-runtime');
                $('#modal-movie-runtime').html(movie_runtime + " min");

                const movie_price = '<span class="modal-movie-heading">Price: </span>' + $(this).data('movie-price');
                $('#modal-movie-price').html(movie_price + ",-");

                let trailer_link = $(this).data('movie-trailer');
                if (trailer_link != "") {
                    $('#modal-movie-trailer').css('display', 'block');
                    $("#trailer").attr('src', trailer_link);
                } else {
                    $('#modal-movie-trailer').css('display', 'none');
                }

                const movie_id = $(this).data('movie-id');
                $('#modal-movie-buy-button').click(function () {
                    addToShoppingCart(movie_id);
                })
            })

            $('#movieModal').on('hide.bs.modal', function () {
                $('#trailer').attr('src', '');
            })
        })
    </script>
}

<div class="form-inline home-forms">
    @using (Html.BeginForm("MoviesByTitle", "Home", FormMethod.Post, new { @class = "form-group home-input" }))
    {
        <b>Search title: </b>
        @Html.TextBox("title", "")
        <button>Search</button>
    }

    @using (Html.BeginForm("MoviesByGenre", "Home", FormMethod.Post, new { @class = "form-group home-dropdown" }))
    {
        <b>Select Genre: </b>

        @Html.DropDownList("genre", new SelectList(Model.Genre, "GenreName", "GenreName"))
        <input type="submit" value="OK" />
    }
</div>

<div class="movies-container">
    @if(!Model.Movies.Any())
    {
        <h2>No movies found</h2>
    }
    @foreach (var movie in Model.Movies)
    {
        <a href="#movieModal" class="movie-link" id="movieModalButton" data-movieModal="true" data-toggle="modal"
           data-movie-id="@movie.Id"
           data-movie-title="@movie.Title"
           data-movie-description="@movie.Description"
           data-movie-year="@movie.Year"
           data-movie-rating="@movie.AgeRestriction"
           data-movie-runtime="@movie.Time"
           data-movie-price="@movie.Price"
           data-movie-poster="@movie.PosterName"
           data-movie-trailer="@movie.TrailerLink">

            <div class="movie">
                <img class="movie-poster" src="~/images/posters/thumbnail/@movie.PosterName" alt="movie poster for @movie.PosterName" />
                <div class="movie-info">
                    <h1 class="movie-title">@movie.Title</h1>

                    <div class="movie-purchase">
                        <p>Price: @movie.Price,-</p>
                        <a id="buy-button" class="btn btn-primary btn-buy-movie" onclick="addToShoppingCart(@movie.Id)">Buy</a>

                    </div>
                </div>
            </div>
        </a>
    }
</div>

@Html.Partial("movieModal")