@model Oblig1theAteam.ViewModels.Home.IndexViewModel

@{
    // Viewet skal kun vise frem ViewModellen. Den skal ikke inneholde logikk.
    ViewData["Title"] = "Home Page";
}

    <div class="form-inline home-forms">
        @using (Html.BeginForm("MoviesByTitle", "Home", FormMethod.Post, new { @class = "form-group home-input" }))
        {
            <b>Search title: </b>
            @Html.TextBox("title", "")
            <button>Search</button>
        }

        @using (Html.BeginForm("MoviesByGenre", "Home", FormMethod.Post, new { @class = "form-group home-dropdown" }))
        {
            <b>Select Genre: </b>

            @Html.DropDownList("genre", new SelectList(Model.Genre, "GenreName", "GenreName"))
            <input type="submit" value="OK" />
        }
    </div>

    <div class="movies-container">
        @foreach (var movie in Model.Movies)
        {
            <div class="movie">
                <img class="movie-poster" src="~/images/posters/thumbnail/@movie.PosterName" alt="movie poster for @movie.PosterName" />
                <div class="movie-info">
                    <h1 class="movie-title">@movie.Title</h1>

                    <div class="movie-purchase">
                        <p>Price: @movie.Price,-</p>
                        @Html.ActionLink("Buy Now", "AddToShoppingCart", new { id = movie.Id }, new { @class = "btn btn-primary btn-buy-movie" })
                    </div>
                </div>
            </div>
        }
    </div>