@model Oblig1theAteam.ViewModels.Home.IndexViewModel

@{
    // Viewet skal kun vise frem ViewModellen. Den skal ikke inneholde logikk.
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("MoviesByTitle", "Home", FormMethod.Post))
{
    <b>Search title: </b>
    @Html.TextBox("title", "")
    <button>Search</button>
}

@using (Html.BeginForm("MoviesByGenre", "Home", FormMethod.Post))
{
    <b>Select Genre: </b>

    @Html.DropDownList("genre", new SelectList(Model.Genre, "GenreName", "GenreName"))
    <input type="submit" value="OK" />
}


<ul>
    @foreach (var movie in Model.Movies)
    {
        <li>@movie.Title</li>

            <ul>
                @foreach (var genre in movie.Genre)
                {
                    <li>@genre.GenreName</li>
                }
            </ul>
        @Html.ActionLink("Legg i handlekurv", "AddToShoppingCart", new { id = movie.Id}, new { @class = "btn btn-primary"})

    }
</ul>